body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background-size: cover;
   background-position: center;
}

.sign-up-form{
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #fff;
    padding: 20px;
    margin: 5% auto 5%;
    text-align: center;
}

.sign-up-form h1{
    color: #1c8abd;
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0px;
    width: 100% ;
    border: 1px solid #999;
    outline: none;
    display: block;
    text-align: center;
}

.sign-up-form label {
	display: block;
	margin-bottom: 10px;
    text-align: left;
}

button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn{
    background-color: #1c8adb;
}

.twitter-btn{
    background-color: #21afde;
}

.sign-up-form button[type="submit"]:hover {
	background-color: #2871d1;
}

a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
    width: 80%;
}

.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}

